.galleryContainer{
    position: absolute;
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    gap: 10px;
    left: 20%;
    justify-content: space-around;
    transition: transform 1s ease-in-out 0s;
    transform: translate3d(0,0,0);
    z-index: 50;

   
    @apply bg-gray-600 p-8 rounded-3xl
}

.galleryContainer:hover{
    transform: translate3d(0,-200px,0);
}

.galleryContainer > li{
    width: 140px;
    height:200px ;

    @apply bg-slate-900 rounded-xl
}

.absolute_1,.absolute_2{
    width: 140px;
    height:200px ;
    bottom:20%;
    z-index: 49;
    animation: float 5s infinite ease-in-out;
    transition: all 0.5s ease-in-out;

    @apply bg-slate-900 rounded-xl
}


.absolute_1{
    left: 15%;
    transform-origin: right;
}
.absolute_2{
    right: -10%;
    bottom:30%;
    transform-origin: left;
    animation: toTheRight 7s infinite ease-in-out 0.5s;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translateY(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translate3d(10%,-20px,0);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translateY(0px);
	}
}



@keyframes toTheRight {
    0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translate3d(0,0px,0);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translate3d(-110%,-30px,0);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translate3d(0px,0px,0);
	}
}

